.DS_Store
npm-debug.log
Thumbs.db
**/node_modules/
*/out/
*/.vs/
tsconfig.lsif.json
*.lsif
*.db
*.tsbuildinfo
.vscode/**
.vscode-test/**
test/**
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.vscode-test.*
*.vsix
